@tailwind base;
@tailwind components;
@tailwind utilities;

/* RESET */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  min-height: 100%;
  height: auto;
  overflow-x: hidden;
  overflow-y: auto;
}

body {
  overflow-x: hidden;
  @apply font-Satoshi;
}

html {
  scroll-padding-top: 100px;
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth;
}

.clip-path-slant {
  clip-path: polygon(20% 0, 100% 0, 100% 100%, 0 100%);
  width: 50%;
}

.text-shadow-lg-super {
  text-shadow: 3px 3px 6px rgba(0, 0, 0, 0.85);
}

.text-shadow-lg-title {
  text-shadow: 3px 3px 6px rgba(0, 0, 0, 0.3);
}

@media (min-width: 992px) {
  .lg\:text-shadow-super {
    text-shadow: none;
  }

  .lg\:text-shadow-title {
    text-shadow: none;
  }
}

.swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet,
.swiper-pagination-horizontal.swiper-pagination-bullets
  .swiper-pagination-bullet {
  width: 16px !important;
  height: 4px !important;
  border-radius: 5px !important;
  margin: 0 6px !important;
}

.swiper-pagination {
  bottom: 2px !important;
}

.swiper-wrapper {
  height: max-content !important;
  width: max-content !important;
  padding-bottom: 64px;
}

.swiper-pagination-bullet-active {
  background: #004aad !important;
}

.swiper-slide.swiper-slide-active > .slide_active\:border-indigo-600 {
  --tw-border-opacity: 1;
  border-color: rgb(79 70 229 / var(--tw-border-opacity));
}

.swiper-slide.swiper-slide-active > .group .slide_active\:text-gray-800 {
  ---tw-text-opacity: 1;
  color: rgb(31 41 55 / var(--tw-text-opacity));
}

/* Scrollbar Customization */
::-webkit-scrollbar {
  width: 7px;
}

/* Fundo da barra */
::-webkit-scrollbar-track {
  background: #f6f6f6;
  border-radius: 5px;
}

/* Cor da barra do scroll */
::-webkit-scrollbar-thumb {
  background: #004aad;
  border-radius: 5px;
}

/* Quando o rato passa por cima */
::-webkit-scrollbar-thumb:hover {
  background: #004aad;
}

@media (max-width: 575.98px) {
  .scroll-hidden-mobile::-webkit-scrollbar {
    display: none;
  }

  .scroll-hidden-mobile {
    scrollbar-width: none;
    -ms-overflow-style: none;
  }
}

@keyframes in-keyframes {
  0% {
    opacity: 0;
    translate: 0 100%;
  }
  100% {
    opacity: 1;
    translate: 0 0;
  }
}

.animate-in {
  animation-name: in-keyframes;
  animation-duration: 0.5s;
  animation-fill-mode: both;
}

/* wave link styles */
body .react-bubbly-transitions__bubbly-link {
  outline: none;
}

body .react-bubbly-transitions__bubbly-link.active {
  position: relative;
  color: #004aad;
}

body .react-bubbly-transitions__bubbly-link.active::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  border-radius: 3px;
  background: #004aad;
}

#react-bubbly-transitions__bubbles {
  --size: 200vw;
}

@media only screen and (min-width: 768px) {
  #react-bubbly-transitions__bubbles {
    --size: 125vw;
  }
}

.react-bubbly-transitions__first,
.react-bubbly-transitions__second {
  position: fixed;
  z-index: 9999;
  top: 0;
  left: 50%;
  translate: -50% 100%;
  width: var(--size);
  height: var(--size);
  border-radius: var(--size);
  animation-timing-function: ease-in-out;
}

.react-bubbly-transitions__first {
  animation-name: bubble-move;
}

.react-bubbly-transitions__second {
  animation-name: bubble-second-move;
}

@keyframes bubble-move {
  20% {
    border-radius: var(--size);
  }
  50%,
  100% {
    translate: -50% 0;
    border-radius: 0;
  }
}

@keyframes bubble-second-move {
  30% {
    translate: -50% 100%;
  }
  50% {
    border-radius: var(--size);
  }
  100% {
    translate: -50% 0;
    border-radius: 0;
  }
}

/* bubbly Link */

